@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
}

ul,
ol {
	padding: 0;
}

html {
  background: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', 'sans-serif';
}
